@model AuthenticationAndAuthorizationPart2.ViewModel.ChangePasswordView

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ChangePassword</title>
    <link href="~/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Change Password</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="container">
            <div class="card text-white bg-success mb-3">
                <div class="card-header"> <br /><br /></div>
                <div class="card-body">
                    <div class="form-group">
                        @Html.LabelFor(model => model.OldPassword, new { @class = "control-label col-md-2" })
                        <div class="col-md-8">
                            @Html.PasswordFor(model => model.OldPassword, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.OldPassword, "", new { @class = "text-danger" })

                        </div>
                    </div>
                    <br />
                    <div class="form-group">
                        @Html.LabelFor(model => model.NewPassword, new { @class = "control-label col-md-2" })
                        <div class="col-md-8">
                            @Html.PasswordFor(model => model.NewPassword, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <br />
                    <div class="form-group">
                        @Html.LabelFor(model => model.ConfirmNewPassword, new { @class = "control-label col-md-2" })
                        <div class="col-md-8">
                            @Html.PasswordFor(model => model.ConfirmNewPassword, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ConfirmNewPassword, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <br />

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Change" class="btn btn-primary" />
                            <br />
                            <br />
                            @Html.ActionLink("Back to login", "login", "Account", new { @Class = "btn btn-warning" })
                            <br />
                            <b>@ViewBag.Message</b>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    }

    <div>
    </div>
</body>
</html>
