@model AuthenticationAndAuthorizationPart2.ViewModel.UserView

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ForgetPassword</title>
    <link href="~/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    @using (Html.BeginForm()) 
    {
        @Html.AntiForgeryToken()
        
    <div class="form-horizontal">
        <h4>Forget Password</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <div class="form-group">
            @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Send Email" class="btn btn-primary" />
                @Html.ActionLink("Back to login", "login", "null", new { @Class = "btn btn-danger" })
            </div>
        </div>
        <b>@ViewBag.Message</b>

    </div>

    }
    
    <div>
        
    </div>
</body>
</html>
