@model AuthenticationAndAuthorizationPart2.ViewModel.loginView

@{
    ViewBag.Title = "login";
    Layout = "~/Views/Shared/_HomeLayoutPage.cshtml";
}

<div class="banner-top">
    <div class="container">
        <h3>Login</h3>
        <h4><a href="index.html">Home</a><label>/</label>Login</h4>
        <div class="clearfix"> </div>
    </div>
</div>
<!--login-->

<div class="login">

    <div class="main-agileits">
        <div class="form-w3agile">
            <h3>Login</h3>
            @using (Html.BeginForm("Login", "Account", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                if (ViewData.ModelState[""] != null && ViewData.ModelState[""].Errors.Count > 0)
                {
                    <div class="alert alert-warning">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        @Html.ValidationSummary(true, "")
                    </div>
                }
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                <div class="key">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    @Html.TextBoxFor(model => model.Username, new { @class = "form-control", @onfocus = "this.value = '';", @onblur = "if (this.value == '') {this.value = 'Email';}", @placeHolder = "Enter Username", @Required = "required" })

                    <div class="clearfix"></div>

                </div>
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                <div class="key">
                    <i class="fa fa-lock" aria-hidden="true"></i>
                    @Html.PasswordFor(model => model.Password, new { @class = "form-control", @onfocus = "this.value = '';", @onblur = "if (this.value == '') {this.value = 'Email';}", @placeHolder = "Enter Password", @Required = "required" })

                    <div class="clearfix"></div>

                </div>

                <input type="submit" value="Login" @*class="btn btn-danger my-cart-btn my-cart-b"*@>

            }
        </div>
        <div class="forg">
            <a href="@Url.Action("ForgetPassword","Account")" class="forg-left">Forgot Password</a>
            <a href="@Url.Action("Registration","Account")" class="forg-right">Register</a>
            <div class="clearfix"></div>
            <b> @ViewBag.Message</b>

        </div>
    </div>
</div>
@*<script>
         function SubmitForm(form) {
                $.validator.unobtrusive.parse(form);
                if ($(form).valid()) {
                    $.ajax({
                        type: "POST",
                        url: form.action,
                        data: $(form).serialize(),
                        success: function (data) {
                            if (data.success) {



                                $.notify(data.message, {
                                    globalPosition: "top center",
                                    className: "error"

                                }
                          }
                            else
                            {
                                window.open('@Url.Action("DashBoard", "Admin")');
                            }

                        }
                    });
                }
                return false;
            }
    </script>*@

