@using AuthenticationAndAuthorizationPart2.Models
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_HomeLayoutPage.cshtml";
}

@section Banner
{
    <div data-vide-bg="video/video">
        <div class="container">
            <div class="banner-info">
                <br />
                <br />
                <br />
                <div class="search-form">
                    @*<form action="#" method="post">
                            <input type="text" placeholder="Search..." name="Search...">
                            <input type="submit" value=" ">
                        </form>*@
                    @using (Html.BeginForm("ProductList", "Home", FormMethod.Post))
                    {
                        @Html.TextBox("search", null, new { @placeHolder = "Enter Keyword" })

                        <input type="submit" value=" ">
                    }
                </div>
            </div>
        </div>
    </div>
}
<div class="content-top ">
    <div class="container ">
        <div class="spec ">
            <h3>Special Offers</h3>
            <div class="ser-t">
                <b></b>
                <span><i></i></span>
                <b class="line"></b>
            </div>
        </div>
        <div class="tab-head ">
            <div class=" tab-content tab-content-t ">
                <div class="tab-pane active text-style" id="tab1">
                    <div class=" con-w3l">
                        @{
                            List<tblProduct> obj = ItemDB.GetAllSpecialProduct();
                            foreach (var item in obj)
                            {
                                <div class="col-md-3 m-wthree">
                                                            <div class="col-m">
                                                                @*<input type="text" class="form-control" id="@item.ProductId" style="display:none ">*@

                                                                @* <a href="@Url.Action("ViewItem", "Home", new { id = item.ItemId })" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal" class="viewitem"><span class="fa fa-search"></span></a>*@
                                                                <a href="@Url.Action("ViewItem", "Home", new { id = item.ProductId })" data-toggle="modal" data-target="#myModal" class="viewitem">
                                                                    <img src="~/ProductImage/@item.Photo" class="img-responsive" alt="">

                                                                </a>
                                                                <div class="mid-1">
                                                                    <div class="women">
                                                                        <h6><a href="@Url.Action("ViewItem", "Home", new { id = item.ProductId })" data-toggle="modal" data-target="#myModal">@item.ProductName</a></h6>
                                                                    </div>

                                                                    <div class="mid-2">

                                                                        <p> <b>Price:</b><label>@item.Price</label><em>@item.DiscountPrice</em></p>

                                                                        <div class="clearfix"></div>
                                                                    </div>
                                                                    <div class="add">
                                                                        <a class="btn btn-danger my-cart-btn my-cart-btn " data-id="@item.ProductId" data-name="@item.ProductName" data-price="@item.Price" data-image="@item.Photo" data-quantity="1" data-qua onclick="return addtocart('@item.ProductId');" @*href="@Url.Action("AddToCart","ShoppingCart", new { id = item.ProductId }, "")"*@><span class="fa fa-shopping-cart"></span>Add To Cart</a>

                                                                    </div>

                                                                </div>
                                                                <br />
                                                            </div>
                                    <br />
                                </div>

                            }
                        }
                        <div class="clearfix"></div>
                    </div>

                </div>

            </div>
        </div>

    </div>
</div>


<!--content-->
@*<div class="content-mid">
    <div class="container">

        <div class="col-md-4 m-w3ls">
            <div class="col-md1 ">
                <a href="kitchen.html">
                    <img src="~/Online/images/co1.jpg" class="img-responsive img" alt="">
                    <div class="big-sa">
                        <h6>New Collections</h6>
                        <h3>Season<span>ing </span></h3>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority </p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 m-w3ls1">
            <div class="col-md ">
                <a href="hold.html">
                    <img src="~/Online/images/co.jpg" class="img-responsive img" alt="">
                    <div class="big-sale">
                        <div class="big-sale1">
                            <h3>Big <span>Sale</span></h3>
                            <p>It is a long established fact that a reader </p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 m-w3ls">
            <div class="col-md2 ">
                <a href="kitchen.html">
                    <img src="~Online/images/co2.jpg" class="img-responsive img1" alt="">
                    <div class="big-sale2">
                        <h3>Cooking <span>Oil</span></h3>
                        <p>It is a long established fact that a reader </p>
                    </div>
                </a>
            </div>
            <div class="col-md3 ">
                <a href="hold.html">
                    <img src="~/Online/images/co3.jpg" class="img-responsive img1" alt="">
                    <div class="big-sale3">
                        <h3>Vegeta<span>bles</span></h3>
                        <p>It is a long established fact that a reader </p>
                    </div>
                </a>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>*@
<!--content-->
<!-- Carousel
  ================================================== -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <a href="kitchen.html"> <img class="first-slide" src="~/Online/images/ba.jpg" alt="First slide"></a>

        </div>
        <div class="item">
            <a href="care.html"> <img class="second-slide " src="~/Online/images/ba1.jpg" alt="Second slide"></a>

        </div>
        <div class="item">
            <a href="hold.html"><img class="third-slide " src="~/Online/images/ba2.jpg" alt="Third slide"></a>

        </div>
    </div>

</div><!-- /.carousel -->
<!--content-->
<div class="product">
    <div class="container">
        <div class="spec ">
            <h3>List of Food </h3>
            <div class="ser-t">
                <b></b>
                <span><i></i></span>
                <b class="line"></b>
            </div>
        </div>
        <div class=" con-w3l">
            @{
                List<tblProduct> MyremainingProduct = ItemDB.GetAllProduct();
                foreach (var item in MyremainingProduct)
                {
                    <div class="col-md-3 m-wthree">
                                    <div class="col-m">
                                        @*<input type="text" class="form-control" id="@item.ProductId" style="display:none ">*@

                                        @* <a href="@Url.Action("ViewItem", "Home", new { id = item.ItemId })" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal" class="viewitem"><span class="fa fa-search"></span></a>*@
                                        <a href="@Url.Action("ViewItem", "Home", new { id = item.ProductId })" data-toggle="modal" data-target="#myModal" class="viewitem">
                                            <img src="~/ProductImage/@item.Photo" class="img-responsive" alt="">

                                        </a>
                                        <div class="mid-1">
                                            <div class="women">
                                                <h6><a href="@Url.Action("ViewItem", "Home", new { id = item.ProductId })">@item.ProductName</a></h6>
                                            </div>

                                            <div class="mid-2">

                                                <p> <b>Price:</b><label>@item.Price</label><em>@item.DiscountPrice</em></p>

                                                <div class="clearfix"></div>
                                            </div>
                                            <div class="add">
                                                <a class="btn btn-danger my-cart-btn my-cart-btn" onclick="return addtocart(' + @item.ProductId + ');"  @*href="@Url.Action("AddToCart","ShoppingCart", new { id = item.ProductId }, "")"*@><span class="fa fa-shopping-cart"></span>Add To Cart</a>

                                            </div>

                                        </div>
                                    </div>
                        <br />
                    </div>

                }
            }
            <a class="btn btn-info my-cart-btn" href="@Url.Action("ProductList","Home")">View More</a>

            <div class="clearfix"></div>
        </div>
    </div>
</div>

<div class="modal fade" id="quick-view-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content modal-info">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="divForUpdate">

            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {

        $('.viewitem').click(function (event) {
            event.preventDefault();
            $.get(this.href, function (response) {
                $('.divForUpdate').html(response);
            });
            $('#quick-view-modal').modal({
                backdrop: 'static',
            }, 'show');
        });
    });
</script>
